@page "/EditConcursante/{CurrentID}"
@using Atodoonada_Blazor_App.Data
@inject ConcursanteService objConcService
@inject NavigationManager NavigationManager


<h3>Modificar Concursante</h3>


<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="ID" class="control-label">ID</label>
                <input form="ID" class="form-control" @bind="objConc.id" />
            </div>
            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre</label>
                <input form="Nombre" class="form-control" @bind="objConc.nombre" />
            </div>
            <div class="form-group">
                <label for="Apellido" class="control-label">Apellido</label>
                <input form="Apellido" class="form-control" @bind="objConc.apellido" />
            </div>
            <div class="form-group">
                <label for="Edad" class="control-label">Edad</label>
                <input form="Edad" class="form-control" @bind="objConc.edad" />
            </div>
            <div class="form-group">
                <label for="Concurso" class="control-label"></label>
                <select @bind="objConc.concurso" class="form-control">
                    <option value="">---Seleccione Tipo de Concurso----</option>
                    <option value="Lingote">Lingote</option>
                    <option value="Responder Preguntas">Responder Preguntas</option>
                </select>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateConcursante" value="Actualizar" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancelar" />

            </div>
        </div>
    </div>

</form>

@code {
    [Parameter]
    public string CurrentID { get; set; }
    ConcursanteInfo objConc = new ConcursanteInfo();

    protected override async Task OnInitializedAsync()
    {
        objConc = await Task.Run(()=>objConcService.GetConcursanteById(Convert.ToInt32(CurrentID)));
    }

    protected void UpdateConcursante()
    {
        objConcService.UpdateConcursante(objConc);
        NavigationManager.NavigateTo("Concursante");

    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Concursante");
    }
}
